
.logoimg{
    width: 68% !important;
    
}
.plusdiv{
    width: 12% !important;
    /* color: rgb(61, 100, 255) !important; */
}
.plusdiv :hover{
    background-color: rgba(255, 255, 255, 0.55) !important ;
}
.e-plus{
    /* font-size: 30px !important; */
    align-items: center !important;
    justify-content: center !important;
    /* width: 10px !important; */
    font-size: 13px !important;
}
.searchbar{
    border: none !important;
}
.neweve{
    align-items: center !important;
    font-size: 13px !important;
    width: fit-content;
    text-decoration: none !important;
}
.like{
    font-size: 13px !important;
}
.ticket{
    font-size: 13px !important;
}
.e-logo{
    width: 12.6666% !important;
}

Link:hover, Link:active, Link:visited, Link:link{
    text-decoration: none !important;
}
a:hover, a:active, a:visited, a:link{
    text-decoration: none !important;
}

.startdatepick{
    height: 40px !important;
    border: 1px solid #ced4da !important;
    color: #6c757d !important;
}
.form-control{
    border-radius: 0% !important;
}
.e-startTimeSelect{
    border-radius: 0% !important;
    height: 39px !important;
    
}
.form-select{
    border-radius: 0% !important;
    color: #6c757d !important;
}
::placeholder{
    color: #ced4da
}
.endTimepick,.startTimepick,.enddatepick{
    height: 40px !important;
    border: 1px solid #ced4da !important;
    color: #6c757d !important;
}

.btn{
    border-radius: 0% !important;
}

.btn-primary{
    background-color: #f05537 !important;
    border: none !important;
}
.btn-primary:hover{
    background-color: #d1410c !important;
    border: none !important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: rgba(54,89,227,.1) !important;
    border: 1px solid #3659e3 !important;
    color: #3659e3 !important;
}
.btn-outline-primary{
    border: 1px solid #ced4da !important;
    color: #6c757d !important;
}