
.logoimg{
    width: 68% !important;
    
}
.plusdiv{
    width: 12% !important;
    /* color: rgb(61, 100, 255) !important; */
}
.plusdiv :hover{
    background-color: rgba(255, 255, 255, 0.55) !important ;
}
.e-plus{
    /* font-size: 30px !important; */
    align-items: center !important;
    justify-content: center !important;
    /* width: 10px !important; */
    font-size: 13px !important;
}
.searchbar{
    border: none !important;
}
.neweve{
    align-items: center !important;
    font-size: 13px !important;
    width: fit-content;
    text-decoration: none !important;
}
.like{
    font-size: 13px !important;
}
.ticket{
    font-size: 13px !important;
}
.e-logo{
    width: 12.6666% !important;
}

Link:hover, Link:active, Link:visited, Link:link{
    text-decoration: none !important;
}
a:hover, a:active, a:visited, a:link{
    text-decoration: none !important;
}

