
.logoimg{
    width: 60% !important;
    
}
.plusdiv{
    width: 12% !important;
}
.plusdiv :hover{
    background-color: rgba(255, 255, 255, 0.55) !important ;

}
.e-plus{
    /* font-size: 30px !important; */
    align-items: center !important;
    justify-content: center !important;
    /* width: 10px !important; */
    font-size: 13px !important;

}

.searchbar{
    border: none !important;
}
.neweve{
    align-items: center !important;
    font-size: 13px !important;
    width: fit-content;
}

.like{
    font-size: 13px !important;
}

.ticket{
    font-size: 13px !important;
}